body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
#board {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#row {
  display: flex;
  gap: 1px;
}
#cell {
  width: 30px;
  height: 30px;
  background-color: aquamarine;
} 
.opened{
  background-color: rgb(22, 13, 2) !important;
}